body {
    font-family: Arial, Helvetica, sans-serif;
}
/*styles the homepage topbar*/
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 10px 10px;
    font-weight: bold;
    font-size: 20px;
}

.topbar a {
    color:#ff66ff;
    text-decoration: none;
}

.topbar a:hover {
    color:#00004d;
}
/*styles text elements for homepage welcome and quiz questions and answers*/
.welcome-msg {
    text-align: center;
    padding: 50px;
}

#game-heading, #question {
    font-weight: 700;
    font-size: 50px;
}

#question {
    margin-left: 60px;
}

.hide {
    display: none;
}

#welcome-text {
    font-size: 25px;
    padding: 20px;
    font-weight: 400;
    margin: 15px 70px 15px 70px;
}

/* styles homepage buttons*/
.btn {
    background-color:#00004d;
    color: white;
    margin: 5px;
    display:flex;
    flex-direction: column;
    margin-left: 15%;
    font-size: 24px;
}

.btn:hover {
    background-color: #ff66ff;
    color: white;
    
}

.start-button-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.start-button {
    display: flex;
    align-content: center;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color:#00004d;
    border-radius: 10px;
}

.start-button:hover {
    background-color: #ff66ff;
}

/*styles the high scores page*/
thead {
    font-size: 50px;
}

